<tr>
  <td class="border px-4 py-2">{{date}}</td>
  <td class="border px-4 py-2">{{Bulgaria}}</td>
  <td class="border px-4 py-2">{{Macedonia}}</td>
  <td class="border px-4 py-2">{{Serbia}}</td>
  <td class="border px-4 py-2">{{Romania}}</td>
  <td class="border px-4 py-2">{{Greece}}</td>
  <td class="border px-4 py-2">{{partNumber}}</td>
</tr>
